<div class="container">
  <div class="p-3">
    <select class="form-select" aria-label="choose-difficulty" [formControl]="difficulty">
      <option value="">Choose difficulty</option>
      <option value="2">Easy</option>
      <option value="3">Medium</option>
      <option value="4">Hard</option>
    </select>
  </div>
  <!-- 
    <div class="row" *ngIf="characters.length > 0">
    aqui con row-cols-2 digo que siempre haya 2 columnas siempre que no se haya especificado
      osea en el ts dinamicamente asigno una clase de acuerdo a la dificultad pero para pantallas
      mas chicas como md y sm no las especifico entonces aqui agarra el row-cols-2 donde le asigna 2 columnas
      a esos tamaños que no fueron especificados 
    -->
  <app-progress-bar></app-progress-bar>
  <div class="row row-cols-2 position-relative" *ngIf="characters.length > 0 && showImages">
    <div [class.disabled-items]="disabledItems"
    [ngClass]="classColumn"
    class="d-flex justify-content-center"
    *ngFor="let character of characters, let i = index">
      <app-card
        #characterElement
        [character]="character"
        [indexCharacter]="i"
        (clickCharacter)="clickCharacter($event)">
      </app-card>
    </div>
  </div>  
  <app-toast></app-toast>
<!--   
  <ngb-toast
  *ngFor="let toast of toastService.toasts"
  [class]="toast.classname"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="toastService.remove(toast)"
  >
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
  </ng-template>

  <ng-template #text>{{ toast.textOrTpl }}</ng-template>
  </ngb-toast> 
-->
</div>
