@import "./app/shared/styles/variables.scss";
body{
  background-color: $base-background-color;
}
.bg-dark-green{
  color: #ffffff !important;
  background-color: $dark-green-color !important;
  border-color: $dark-green-color !important;
}

.bg-sapling{
  color: $dark-green-color !important;
  background-color: $sapling-color !important;
  border-color: $sapling-color !important;
}

.txt-dark-green{
  color: $dark-green-color !important;
}

.txt-sapling{
  color: $sapling-color !important;
}
.cursor-pointer{
  cursor: pointer;
}